<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="assets/css/vendors/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/vendors/style.min.css">
  <link rel="stylesheet" href="assets/css/vendors/slides.min.css">
  <link rel="stylesheet" href="assets/css/vendors/slides.css">
  <link rel="stylesheet" href="assets/css/vendors/custome.css">
  <title>{{head.title}}</title>
</head>
<body class="slides horizontal simplifiedMobile animated">
  
  